html,body { 
	height:100%; 
	margin: 0;
	padding: 0;
}

.container {
	margin-bottom: 20px;
	padding: 0;
	width: 100%;
	min-height: 90%;
	background-image: url("../images/Star-Wars-HD-wallpaper-1080.jpeg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	color: white;

}

.image-container {
	position: relative;
	float: left;
	border: 2px solid blue;
	margin-left: 10px;
}

.enemy-container {
	position: relative;
	float: left;
	border: 2px solid red;
	margin-left: 0px 0px 10px 10px;
	background-color: red;
}

.attacker {
	position: relative;
	float: left;
	border: 2px solid red;
	margin-left: 0px 0px 10px 10px;
}

h4 {
	text-align: center;
}

h5 {
	text-align: center;
}

h2 {
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	margin: 15px 0px 15px 0px;
}

.myCharacter {
	height: 138px;
	width: 140px;
	clear: both;
	margin: 10px 0px 10px 0px;
	margin-left: 10px;
}

.subHeading {
	clear: both;
	margin-left: 10px;
	margin-top: 10px;
	font-size: 25px;
	font-weight: bold;
	text-align: left;
}

.actionButton {
	/*clear: both;*/
	margin-left: 10px;
	margin-top: 10px;
}

.message {
	clear: both;
	font-size: 16px;
	font-color: red;
	font-weight: bold;
	margin: 10px;
	padding: 5px;
}

.footer {
	min-height: 10%;
	overflow: auto;
	background-color: #1967be;
}

.footerContainer {
	font-size: 10px;
	color: white;
	padding: 10px;
	text-align: center;
	margin-top: 25px;
}


